# Python
__pycache__/
*.pyc
.venv/
venv
*.js
.env
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Node
node_modules/
dist/
.cache/

# IDE
.vscode/
.idea/

# Misc
*.DS_Store

.coverage
*coverage.xml

# Data working files
backend/data/curriculum/curriculum_review.csv

# .gitignore
.kilocode/mcp.json
mcp.json
.pnpm-store